<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
        
	<!-- <bean id="sequence" class="com.sp.constructor.Sequence">
		<constructor-arg value="30" />
		<constructor-arg value="100000" />
		<property name="suffix" value="A" />
	</bean>
	
	 -->
	 
	 <bean id="sequence" class="com.sp.constructor.Sequence">
		<constructor-arg type="int" value="30" />
		<constructor-arg value="100000" />
		<property name="suffix" value="A" />
	</bean>

</beans>
